APP_NAME = NeoCanvas
PRODUCT_NAME = NeoCanvas

PRODUCT_BUNDLE_IDENTIFIER = com.neoworksuite.neocanvas

MARKETING_VERSION = 1.0.0
CURRENT_PROJECT_VERSION = 10

IPHONEOS_DEPLOYMENT_TARGET = 15.0

SWIFT_VERSION = 6.0

TARGETED_DEVICE_FAMILY = 2

CODE_SIGN_STYLE = Automatic

GENERATE_INFOPLIST_FILE = NO
INFOPLIST_FILE = NeoCanvas/Info.plist
